*{
    text-align: center;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}
hr{
    margin: 20px;
}
.assign-1 div.main.red{
    color: red;
}
.assign-2 .parent div:nth-child(2){
    color: red;
}
.assign-3 .parent > div:only-child{
    color: red;
}
.assign-4 > div[title]:not(.no-need){
    color: red;
}
.assign-5 div:nth-child(2) p + div{
    color: red;
}
.assign-6 div:not(.no-need) div:nth-last-of-type(2) {
    color: red;
}
.assign-7 div:first-child div:nth-child(5){
    color: red;
}
.assign-8 :not(h3, :first-child, :last-child){
    color: red;
}